<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
        <meta charset="UTF-8">

        <title>Document</title>

        <script>
            $(function(){
                let articleLists = new Vue({
                    el: "#articles",
                    data : {
                        articleList:{}
                    }
                })
                $.ajax({
                    type : "GET",
                    url: "/api/articles",
                    success: function (response) {
                        console.dir(response);
                        articleLists.articleList = response;
                    }
                })
            })
        </script>
    </head>
    <body>
        <!--header-->
        <div th:insert="layouts/header.html" id="header"></div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Tittle</th>
                    <th scope="col">Content</th>
                </tr>
            </thead>
            <tbody id="articles">
                <tr v-for="index in articleList">
                    <th><span>{{index.id}}</span></th>
                    <td id="article-username"><span>{{index.username}}</span></td>
                    <td id="article-title" >
                        <a v-bind:href='`/articles/${index.id}`'>
                            <span>{{index.title}}</span>
                        </a></td>
                    <td id="article-content"><span>{{index.content}}</span></td>
                </tr>
            </tbody>
        </table>

        <a th:href="@{/articles/new}">New Article</a>


        <!--footer-->
        <div th:insert="layouts/footer.html" id="footer"></div>
    </body>
</html>