<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
        <meta charset="UTF-8">

        <title>Title</title>


        <script>
            $(function () {
                const id = location.href.split("/").reverse()[0];

                //SHOW
                $.ajax({
                    type: "GET",
                    url: "/api/articles/" + id,
                    success: function (response) {
                        console.dir(response);
                        $("#id").html(response.id)
                        $("#title").html(response.title)
                        $("#content").html(response.content)
                    }
                })

                $('#edit-btn').click(function () {
                    location.href = "/articles/edit/" + id;
                })

                //DELETE
                $('#delete-btn').click(function () {
                    if (confirm("삭제 하시겠습니까?") == true) {
                        $.ajax({
                            type: "DELETE",
                            url: "/api/article/comments/" + id,
                            success: function (res){
                                console.log(res);
                            }
                        })
                        setTimeout(function () {
                            $.ajax({
                                type: "DELETE",
                                url: "/api/articles/" + id,
                                success: function () {
                                    alert("게시물이 삭제되었습니다");
                                    location.href = "/articles";
                                }
                            })
                        },100)

                    } else { alert("삭제가 취소되었습니다")}
                })
            })
        </script>
    </head>
    <body>
        <!--header-->
        <div th:insert="layouts/header.html" id="header"></div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Tittle</th>
                    <th scope="col">Content</th>
                </tr>
            </thead>
            <tbody id="articles">
                <tr>
                    <th id="id"></th>
                    <td id="title"></td>
                    <td id="content"></td>
                </tr>
            </tbody>
        </table>
        <a class="btn btn-primary" id="edit-btn">Edit</a>
        <a class="btn btn-danger" id="delete-btn">Delete</a>
        <a th:href="@{/articles}" class="btn btn-primary">GO to Article List</a>

        <div th:insert="comments/_comments.html" id="comments"></div>

        <!--footer-->
        <div th:insert="layouts/footer.html" id="footer"></div>

    </body>
</html>